.course-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.course-card {
  width: 305px;
    height: 335px;
    border: 1px solid #a75e5e;
    border-radius: 8px;
   
    text-align: center;
    cursor: pointer;
    background: #0c6d72;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  height: 310px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.course-card h5 {
  font-size: 18px;
  margin: -7px 0 5px;
}

.course-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
